.col-index {
    width: 50px;
    text-align: right;
    flex-shrink: 0;
    padding-right: var(--nobit-size-4-3); /* 12px for better spacing */
}

.col-title {
    flex-grow: 1;
    min-width: 100px;
    overflow: hidden;
}

.col-res {
    width: 70px;
    text-align: right;
    flex-shrink: 0;
}

.col-ikioi {
    width: 80px;
    text-align: right;
    flex-shrink: 0;
}
